html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    font: inherit;
}

body {
    font: normal 1rem/1.4 Arial, sans-serif;
    background: linear-gradient(135deg, #e0e7ff 0%, #f5f5f5 100%);
    min-height: 100vh;
}
